.sidepanel {
  position: fixed;
  width: 20%;
  background-color: #f1efef;
  height: 100%;
}

.sticky-keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #272927;
}




#logo {
  
}

#controls {
  right: 0;
}

#drumkit {
  left: 0;
}
