.sidepanel {
  position: fixed;
  width: 20%;
  background-color: #f1efef;
  height: 100%;
}

.sticky-keyboard {
  margin-left: 8%;
  position: fixed;
  bottom: 0;
  width: 80%;
  /*height: 40%;*/
  background-color: #272927;
}

.input-group {
  max-width: 330px;
  margin: auto
}

#logo {
  text-align: center
}

#controls {
  right: 0;
}

#drumkit {
  left: 0;
}
