<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano</title>
  <link rel="stylesheet" type="text/css" href="../css/keyboard.css" />
</head>
<body>
  <div id="piano">
    <div class="button-display" id="drum-buttons">
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('bleep')">Bleep</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('bass')">Bass</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('kick')">Kick</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('drum')">Drum</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('hihat')">Hihat</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('snare')">Snare</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('cantouch')">Touch</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('pushat')">Ugh</button>
      <button class="action-button shadow animate blue" ng-click="JCtrl.playDrum('jayz')">Woo!</button>
    </div>
    <div id="pianoBody">
      <div id="littleRedLine"></div>
      <div id="o0" class="octave">
        <div id="C3" class="key white" ng-click="JCtrl.playSound('C3')"></div>
        <div id="D3" class="key white" ng-click="JCtrl.playSound('D3')"></div>
        <div id="E3" class="key white" ng-click="JCtrl.playSound('E3')"></div>
        <div id="F3" class="key white" ng-click="JCtrl.playSound('F3')"></div>
        <div id="G3" class="key white" ng-click="JCtrl.playSound('G3')"></div>
        <div id="A3" class="key white" ng-click="JCtrl.playSound('A3')"></div>
        <div id="B3" class="key white" ng-click="JCtrl.playSound('B3')"></div>
        <div class="flats">
          <div id="C#3" class="key black" ng-click="JCtrl.playSound('C#3')"></div>
          <div id="D#3" class="key black" ng-click="JCtrl.playSound('D#3')"></div>
          <div id="F#3" class="key black" ng-click="JCtrl.playSound('F#3')"></div>
          <div id="G#3" class="key black" ng-click="JCtrl.playSound('G#3')"></div>
          <div id="A#3" class="key black" ng-click="JCtrl.playSound('A#3')"></div>
          <div id="C#4" class="key black" ng-click="JCtrl.playSound('C#4')"></div>
          <div id="D#4" class="key black" ng-click="JCtrl.playSound('D#4')"></div>
        </div>
      </div>
      <div id="o1" class="octave">
        <div id="C4" class="key white" ng-click="JCtrl.playSound('C4')"></div>
        <div id="D4" class="key white" ng-click="JCtrl.playSound('D4')"></div>
        <div id="E4" class="key white" ng-click="JCtrl.playSound('E4')"></div>
        <!-- <div id="F4" class="key white" ng-click="JCtrl.playSound('F4')"></div>
        <div id="G4" class="key white" ng-click="JCtrl.playSound('G4')"></div>
        <div id="A4" class="key white" ng-click="JCtrl.playSound('A4')"></div>
        <div id="B4" class="key white" ng-click="JCtrl.playSound('B4')"></div> -->
      </div>
      <!-- <div id="o2" class="octave">
      <div id="C5" class="key white" ng-click="JCtrl.playSound('C5')"></div>
      <div id="D5" class="key white" ng-click="JCtrl.playSound('D5')"></div>
      <div id="E5" class="key white" ng-click="JCtrl.playSound('E5')"></div>
      <div class="flats">
      <div id="C#5" class="key black" ng-click="JCtrl.playSound('C#5')"></div>
      <div id="D#5" class="key black" ng-click="JCtrl.playSound('D#5')"></div>
    </div> -->
  </div>
</div>
</body>
</html>
