<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano</title>
  <link rel="stylesheet" type="text/css" href="../css/keyboard.css" />
</head>
<body>
	<div id="piano">
		<div id="pianoBody">
			<div id="littleRedLine"></div>
			<div id="o0" class="octave">
				<div id="0C" class="key white" ng-click="JCtrl.playSound('C3')"></div>
				<div id="0D" class="key white" ng-click="JCtrl.playSound('D3')"></div>
				<div id="0E" class="key white" ng-click="JCtrl.playSound('E3')"></div>
				<div id="0F" class="key white" ng-click="JCtrl.playSound('F3')"></div>
				<div id="0G" class="key white" ng-click="JCtrl.playSound('G3')"></div>
				<div id="0A" class="key white" ng-click="JCtrl.playSound('A3')"></div>
				<div id="0B" class="key white" ng-click="JCtrl.playSound('B3')"></div>
				<div class="flats">
					<div id="0Cs" class="key black" ng-click="JCtrl.playSound('C#3')"></div>
					<div id="0Ds" class="key black" ng-click="JCtrl.playSound('D#3')"></div>
					<div id="0Fs" class="key black" ng-click="JCtrl.playSound('F#3')"></div>
					<div id="0Gs" class="key black" ng-click="JCtrl.playSound('G#3')"></div>
					<div id="0As" class="key black" ng-click="JCtrl.playSound('A#3')"></div>
				</div>
			</div>
      <div id="o1" class="octave">
				<div id="1C" class="key white" ng-click="JCtrl.playSound('C4')"></div>
				<div id="1D" class="key white" ng-click="JCtrl.playSound('D4')"></div>
				<div id="1E" class="key white" ng-click="JCtrl.playSound('E4')"></div>
				<div id="1F" class="key white" ng-click="JCtrl.playSound('F4')"></div>
				<div id="1G" class="key white" ng-click="JCtrl.playSound('G4')"></div>
				<div id="1A" class="key white" ng-click="JCtrl.playSound('A4')"></div>
				<div id="1B" class="key white" ng-click="JCtrl.playSound('B4')"></div>
				<div class="flats">
					<div id="1Cs" class="key black" ng-click="JCtrl.playSound('C#4')"></div>
					<div id="1Ds" class="key black" ng-click="JCtrl.playSound('D#4')"></div>
					<div id="1Fs" class="key black" ng-click="JCtrl.playSound('F#4')"></div>
					<div id="1Gs" class="key black" ng-click="JCtrl.playSound('G#4')"></div>
					<div id="1As" class="key black" ng-click="JCtrl.playSound('A#4')"></div>
				</div>
			</div>
      <div id="o2" class="octave">
        <div id="2C" class="key white" ng-click="JCtrl.playSound('C5')"></div>
      </div>
		</div>
	</div>
</body>
</html>
