<!doctype html>
<html lang="en" ng-app="Jammin">
  <head>
    <meta charset="utf-8">
    <title>Jammin</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="jquery/dist/jquery.js"></script>
    <script src="socket.io-client/socket.io.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-socket-io/socket.js"></script>
    <script src="tone/build/Tone.js"></script>

    <script src="js/app.js"></script>
    <script src="js/jamminController.js"></script>
    <script src="js/factories/socketFactory.js"></script>
    <script src="js/factories/metronomeFactory.js"></script>
    <script src="js/factories/soundFactory.js"></script>
    <script src="js/factories/userFactory.js"></script>

  </head>

  <body ng-controller="JamminController as JCtrl">

      <h1 id="logo" class="page-header">Jammin</h1>

      <div id="jamminAreaWrapper" ng-show="JCtrl.validNickname">
        <div id="controls">
          <p id="currentUser">{{ JCtrl.nickname }}</p>
          <p id="otherUsers">{{ JCtrl.otherUsers }}</p>
          <p id="statusLabel">{{ JCtrl.statusLabel }}</p>
          <p>Metronome is <span id="metronomeStatus">{{ JCtrl.metronomeStatus }}</span></p>
          <button class="btn" ng-click="JCtrl.toggleMetronome()">Toggle Metronome</button>
        </div>

        <div class="sticky-keyboard">
          <ng-include src="'partials/keyboard.html'"></ng-include>
        </div>
      </div>

    <div class="main container">
      <div id="startMenuWrapper" ng-hide="JCtrl.validNickname">
        <div id="startMenu">
          <input type="text" tabindex="0" autofocus ng-model="JCtrl.nickname"
            placeholder="Enter your name here" id="playerNameInput" />
          <br />
          <button id="enterButton" ng-click=JCtrl.checkNickname()>Enter</button>
        </div>
      </div>
    </div>
  </body>
</html>
